{% extends "appFamiliares/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}

<h2>Listado de usuarios</h2>
<br>
<ul>
    {% for usuario in usuarios %}
    <div class="row">
        <div class="col-sm-3 mb-2">
            <div class="card">
              <div class="card-body">
                {% if usuario.username == user.username %}
                <strong><p style="margin-bottom: 5px;" class="card-text">{{ usuario.username }}</p></strong>
                <p style="margin-bottom: 0px;">Tu usuario</p>
                {% else %}
                <strong><p style="margin-bottom: 5px;" class="card-text">{{ usuario.username }}</p></strong>
                <img img style="width: 50px;" src="{% static 'default.png' %}" alt="">
                <a class="btn btn-primary" href="{% url 'detailms' usuario.username %}">Enviar Mensaje</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}


</ul>



{% endblock %}